@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #521cb6;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #521cb6;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Mantenerlo oculto por defecto */
    position: absolute; /* Para que se superponga al menú */
    background: rgb(0, 0, 0); /* Color de fondo del submenú */
    border: 1px solid #ccc; /* Borde opcional */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

nav ul {
    position: relative; /* Necesario para el posicionamiento del submenú */
}

nav li {
    position: relative; /* Necesario para el submenú */
}

.submenu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333; /* Cambia el color según tu diseño */
}

.submenu a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
}

.nav-responsive{
    background-color: #521cb6;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.0), rgba(30,35,38,0)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #000000;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #521cb6;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #521cb6;
}
.sobremi{
    background-color: #000000;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #521cb6;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #521cb6;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #521cb6;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #521cb6;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #521cb6;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #521cb6;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #521cb6;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .Java{
    width: 0%;
    animation: 2s Java forwards;
}
@keyframes Java {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .HTMLCSS{
    width: 0%;
    animation: 2s HTMLCSS forwards;
}
@keyframes HTMLCSS {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .JavaScript{
    width: 0%;
    animation: 2s JavaScript forwards;
}
@keyframes JavaScript {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .ExpressNode{
    width: 0%;
    animation: 2s ExpressNode forwards;
}
@keyframes ExpressNode {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .React{
    width: 0%;
    animation: 2s React forwards;
}
@keyframes React {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .Python{
    width: 0%;
    animation: 2s Python forwards;
}
@keyframes Python {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .SringBoot{
    width: 0%;
    animation: 2s SringBoot forwards;
}
@keyframes SringBoot {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .JPA{
    width: 0%;
    animation: 2s JPA forwards;
}
@keyframes JPA {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .MySQL{
    width: 0%;
    animation: 2s MySQL forwards;
}
@keyframes MySQL {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .SQLServer{
    width: 0%;
    animation: 2s SQLServer forwards;
}
@keyframes SQLServer {
    0%{width: 0%;}
    100%{width: 94%;}
}
.skills .skill .Docker{
    width: 0%;
    animation: 2s Docker forwards;
}
@keyframes Docker {
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .GitHub{
    width: 0%;
    animation: 2s GitHub forwards;
}
@keyframes GitHub {
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .Metodologiasgiles{
    width: 0%;
    animation: 2s Metodologiasgiles forwards;
}
@keyframes Metodologiasgiles {
    0%{width: 0%;}
    100%{width: 75%;}
}

/*-- Skills dos*/

/* SECCION S K I L L S D O S */
.skillsdos {
    background-color: #000000;
    color: #fff;
    padding: 50px 20px;
}

.skillsdos .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skillsdos h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skillsdos .fila {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas más pequeñas */
}

.skillsdos .fila .col {
    width: 100%; /* Por defecto ocupa todo el ancho */
    padding: 0 20px;
}

@media (min-width: 768px) {
    .skillsdos .fila .col {
        width: 50%; /* Dos columnas en pantallas más grandes */
    }
}

.skillsdos .skill {
    margin-bottom: 30px;
}

.skillsdos .skill > span {
    font-weight: bold;
    display: flex;
    align-items: center; /* Centra verticalmente los iconos y el texto */
}

.skillsdos .skill > span i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 24px; /* Ajusta el tamaño del icono */
    color: #521cb6; /* Color del icono */
}

/* Puedes eliminar las secciones de progreso y animaciones si no las necesitas */

.curriculum {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al principio */
}

.curriculum .fila .col {
    width: 30%; /* Ajustar el ancho de las columnas */
    padding: 0 20px;
    position: relative; /* Para permitir posicionamiento absoluto de la línea */
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #521cb6;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #521cb6;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

/* Certificaciones */
.certificaciones {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
}

.certificaciones li {
    background-color: #252A2E; /* Color de fondo de los ítems */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado entre ítems */
    border-radius: 5px; /* Bordes redondeados */
    position: relative; /* Para posicionar la viñeta */
    padding-left: 25px; /* Espacio para la viñeta */
}

.certificaciones li::before {
    content: "✔"; /* Cambia el símbolo aquí por lo que prefieras */
    position: absolute; /* Posición absoluta para colocarlo correctamente */
    left: 0; /* Alineado a la izquierda */
    color: #521cb6; /* Color de la viñeta */
}

/* Línea morada para certificaciones */
.certificaciones-container {
    position: relative; /* Posicionamiento relativo para el contenedor */
    padding-left: 20px; /* Espacio para la línea */
}

.conectord-certificaciones {
    height: 100%; /* Asegúrate de que cubra toda la altura */
    background-color: #521cb6; /* Color de la línea */
    width: 2px; /* Ancho de la línea */
    position: absolute;
    left: -10px; /* Ajusta la posición */
    top: 0; /* Empieza desde la parte superior */
}

/* SECCION PORTFOLIO */
.portfolio{
    background-color: #0000;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .SQLServero{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .SQLServero img{
    width: 100%;
    display: block;
}
.portfolio .galeria .SQLServero .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .SQLServero .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .SQLServero .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .SQLServero .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #521cb6;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #0000;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #521cb6;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #521cb6;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .SQLServero{
        max-width: 100%;
    }
    .portfolio .galeria .SQLServero img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
